@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Made a Simple <strong>Expense Tracker</strong> where you can perform CRUD Operations, so do head over to the <strong>Expense Page</strong> from Nav-Bar</p>
    <br />
</div>
    <p>Currently busy with developing other application but I will try to add more features if possible</p>
    <h5>Features:</h5>
    <h5>Added</h5>
    <ul>
        <li>Export PDF Function ✅</li>
    </ul>
    <br />
    <h5>To be Added:</h5>
    <ul>
        <li>Authorization/Authentication</li>
        <li>Visualization</li>
        <li>Add Profile Picture</li>
    </ul>